@tailwind base;
@tailwind components;
@tailwind utilities;

/* .pad-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} */

    /* npx tailwindcss -i ./style.css -o ./output.css --watch */